<%= render "common/header" %>
<div class = "staff-edit">
  <div class = "staff-edit-main">
    <%= form_with model: @staff, local: true do |f| %>
    <h2>スタッフ編集・削除</h2>
    
      <%# エラーメッセージ %>
      <% if f.object.errors.any? %>
      <div>
        <ul>
          <% f.object.errors.full_messages.each do |message| %>
          <li><%= message %></li>
          <% end %>
        </ul>
      </div>
      <% end %>

      <div>
        <div>
          <%# スタッフ名 %>
          <div class = "staff-form-name">
            <div class = "form-title"><h4>名前</h4></div>
            <%= f.text_area :name, placeholder:"スタッフ名" %>
          </div>
          <%# 性別 %>
          <div class = "staff-form-sex">
            <div class = "form-title"><h4>性別</h4></div>
            <%= f.collection_select(:sex_id, Sex.all, :id, :name, {}) %>
          </div>
        </div>
      </div>
      <div class = "submit"><%= f.submit '編集する' %></div>
    <% end %>
    <%= link_to '削除', staff_path(@staff.id), data: { turbo_method: :delete } %>
    <%=link_to 'もどる', new_staff_path %>
  </div>
</div>