<div class = "staff-related">

  <%# 登録済スタッフ一覧・左サイドバー %>
  <div class = "staff-lists">
    スタッフ一覧
    <div class = "staff-heading">
      <div class = "staff-heading-name">名前</div>
      <div class = "staff-heading-sex">性別</div>
    </div>
    <% if @staffs.empty? %>
      <p>スタッフ未登録</p>
    <% else %>
      <div class = "staff-table">
        <ul class = "staff-list">
          <% @staffs.each_with_index do |staff, index| %>
          <li class="staff-row" id="staff-row-<%= index %>">
            <div class = "staff-info">
              <div class="staff-name"><%= staff.name %></div>
              <div class="staff-status"><%= staff.sex.name %></div>
            </div>
          </li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
  
  <%# スタッフ登録 %>
  <div class = "staff-registration">
    スタッフ登録
    <%= form_with model: @staff, local: true do |f| %>

      <%# エラーメッセージ %>
      <% if f.object.errors.any? %>
      <div>
        <ul>
          <% f.object.errors.full_messages.each do |message| %>
          <li><%= message %></li>
          <% end %>
        </ul>
      </div>
      <% end %>

      <%# スタッフ名 %>
      <div>名前</div>
      <%= f.text_area :name, placeholder:"スタッフ名" %>

      <%# 性別 %>
      <div>性別</div>
      <%= f.collection_select(:sex_id, Sex.all, :id, :name, {}) %>

      <%= f.submit '登録する' %>
      <%=link_to 'もどる', root_path %>
    <% end %>
  </div>
</div>