<%= render "common/header" %>
<div class = "staff-related">

  <%# 登録済スタッフ一覧・左サイドバー %>
  <div class = "staff-lists">
    <h2>スタッフ一覧</h2>
    <div class = "staff-heading">
      <div class = "staff-heading-name"><h4>名前</h4></div>
      <div class = "staff-heading-sex"><h4>性別</h4></div>
    </div>
    <% if @staffs.empty? %>
      <p>スタッフが登録されていません</p>
    <% else %>
      <div class = "staff-table">
        <ul class = "staff-list">
          <% @staffs.each_with_index do |staff, index| %>
          <li class="staff-row" id="staff-row-<%= index %>">
            <%= link_to edit_staff_path(staff.id) do %>
            <div class = "staff-info">
              <div class = "staff-name"><%= staff.name %></div>
              <div class = "staff-status"><%= staff.sex.name %></div>
            </div>
            <% end %>
          </li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
  
  <%# スタッフ登録 %>
  <div class = "staff-registration">
    
    <%= form_with model: @staff, local: true do |f| %>
    <h2>スタッフ登録</h2>
    
      <%# エラーメッセージ %>
      <% if f.object.errors.any? %>
      <div>
        <ul>
          <% f.object.errors.full_messages.each do |message| %>
          <li><%= message %></li>
          <% end %>
        </ul>
      </div>
      <% end %>

      <div class = "staff-registration-form">
        <div class = "form-fields-wrapper">
          <%# スタッフ名 %>
          <div class = "staff-form-name">
            <div class = "form-title"><h4>名前</h4></div>
          </div>
          <%# 性別 %>
          <div class = "staff-form-sex">
            <div class = "form-title"><h4>性別</h4></div>
          </div>
        </div>
      </div>
      <div id="add-button">追加</div>
      <div class = "submit"><%= f.submit '登録する' %></div>
    <% end %>
  </div>
</div>