<%= render "common/header" %>

<%# assets/stylesheets/schedule/index.css %>
<div class = "shift-calendar">
  <table class = "calendar">
    <colgroup>
      <col style="width: auto;">
      <% @dates.length.times do %> 
        <col style="width: 47px;">
      <% end %>
    </colgroup>
    <tr>
      <th class = "month" colspan="<%= @dates.count + 1 %>">
        <span class = "last-month">
          <%= link_to(schedules_path(l: @x)) do %>
            <%= image_tag "left-arrow2.png" %>
          <% end %>
        </span>
        <%= @day_now.month %>月
        <span class = "next-month">
          <%= link_to(schedules_path(n: @x)) do %>
            <%= image_tag "right-arrow2.png" %>
          <% end %>
        </span>
      </th>
    </tr>
    <tr>
      <th>日付</th>
      <% @dates.each do |date| %>
        <th calss = "date"><%= date.day %>日</th>
      <% end %>
    </tr>
    <tr>
      <th>曜日</th>
      <% @dates.each do |date| %>
        <th><%= @days[date.wday] %></th>
      <% end %>
    </tr>
    <% if @staffs.empty? %>
      <tr>
        <td colspan="<%= @dates.count %>">スタッフが登録されていません</td>
      </tr>
    <% else %>
      <tr>
        <th>スタッフ</th>
        <% @staffs.each do |staff| %>
          <tr>
            <td><%= staff.name %></td>
            <% @dates.each do |date| %>
              <% shift = staff.schedules.find_by(making_date: date) %>
              <td class="<%= shift ? "shiftpattern-#{shift.shiftpattern.id}" : 'no-shift' %>">
                <% if shift %>
                  <%= shift.shiftpattern.start_time.strftime( "%-H:%M" ) %>
                <% else %>
                  未
                <% end %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>
