<table>
  <th><%= Date.today.month %>月</th>
  <tr>
    <th>日付</th>
    <% @dates.each do |date| %>
      <th><%= date.day %>日</th>
    <% end %>
  </tr>
  <tr>
    <th>曜日</th>
    <% @dates.each do |date| %>
      <th><%= @days[date.wday] %></th>
    <% end %>
  </tr>
  <tr>
    <th>スタッフ</th>
    <% if @staffs.empty? %>
      <p>まだスタッフが登録されていません。</p>
    <% else %>
      <% @staffs.each do |staff| %>
        <tr>
          <td><%= staff.name %></td>
          <%# <% @dates.each do |date| %> %>
            <td>
              <%# <% shift = staff.schedules.find_by(making_date: date) %> %>
              <%# <% if shift %> %>
                <%# <%= shift.shiftpattern.value %> <!-- あなたが適切なフィールド名に変更してください --> %>
              <%# <% else %> %>
                <!-- シフトが登録されていない場合の表示 -->
              <%# <% end %> %>
            </td>
          <%# <% end %> %>
        </tr>
      <% end %>
    <% end %>
  </tr>
</table>
<%= link_to 'スタッフ関連', new_staff_path %>