<%= render "common/header" %>
<div class = "new-shift">
  <%= form_with url: schedules_path, local: true do |f| %>
    <table>
      <%# 月 %>
      <tr>
        <th class = "month" colspan="<%= @dates.count + 1 %>">
          <span class = "last-month">
            <%= link_to(new_schedule_path(l: @x)) do %>
              <%= image_tag "left-arrow2.png" %>
            <% end %>
          </span>
          <%= @day_now.month %>月
          <span class = "next-month"><%= link_to(new_schedule_path(n: @x)) do %>
              <%= image_tag "right-arrow2.png" %>
            <% end %>
          </span>
        </th>
      </tr>

      <tr>
        <th>日付</th>
        <% @dates.each do |date| %>
          <th><%= date.day %>日</th>
        <% end %>
      </tr>
      <tr>
        <th>曜日</th>
        <% @dates.each do |date| %>
          <th><%= @days[date.wday] %></th>
        <% end %>
      </tr>
      <tr>
        <th>スタッフ</th>
        <% if @staffs.empty? %>
          <p>スタッフ未登録</p>
        <% else %>
          <% @staffs.each_with_index do |staff, staff_index| %>
            <tr>
              <td><%= staff.name %></td>
              <% @dates.each_with_index do |date, date_index| %>
                <td>
                  <% schedule = staff.schedules.find_by(making_date: date) %>
                  <%= f.hidden_field "schedules[#{staff_index}_#{date_index}][id]", value: schedule&.id %>
                  <%= f.hidden_field "schedules[#{staff_index}_#{date_index}][making_date]", value: date %>
                  <%= f.hidden_field "schedules[#{staff_index}_#{date_index}][staff_id]", value: staff.id %>
                  <%= f.collection_select "schedules[#{staff_index}_#{date_index}][shiftpattern_id]", Shiftpattern.all, :id, :name, selected: schedule&.shiftpattern_id %>
                </td>
              <% end %>
            </tr>
          <% end %>
        <% end %>
      </tr>
    </table>
  <% end %>
</div>
<%= link_to "トップ", root_path%>
