<%# CSS・・・assets/stylesheets/header.css %>
<header class = "header">
  <div class = "appname">
    <h1><a href="/">ShiftMaker</a></h1>
  </div>
  <div>
  <div class = "nav">
    <div class = "nav-left">
      <ul class = "lists-left">
        <%= link_to(new_staff_path, class: "lists-left-btn") do %>
          <li>
            <%= image_tag "team-icon" %>
            <span class = "lists-left-text">スタッフ</span>
          </li>
        <% end %>
        <%= link_to(new_schedule_path, class: "lists-left-btn") do %>
          <li>
            <%= image_tag "calendar4.png" %>
            <span class = "lists-left-text">シフト</span>
          </li>
        <% end %>
      </ul>
    </div>
    <div class = "nav-right">
      <ul class = "lists-right">
        <%# <li><%= current_user.nickname %></li> 
        <%= link_to(destroy_user_session_path, data: {turbo_method: :delete}, class: "lists-right-btn") do %>
          <li>
            <%= image_tag "zzz-icon" %>
            <span class = "lists-right-btn">ログアウト</span>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</header>